<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Beacon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Beacon.Properties.Settings>
            <setting name="SavedGwpsConcrete" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedGwpsSteel" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedGwpsTimber" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedGwpsUnknown" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedMappedLevels" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPhaseSelected" serializeAs="String">
                <value />
            </setting>
        </Beacon.Properties.Settings>
    </userSettings>
</configuration>